@{
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
    ViewData["Title"] = "Rhodes Gallery";
}

<h3>Pitu Hermosa</h3>

<div class="centered">
    <a href="@Url.Action("Home", "Default")">
        <img src="~/images/pen_icon.png" />
    </a>
</div>