<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/Default.css" type="text/css" />
    <link rel="icon" href="/favicon.ico" />
    @RenderSection("Header", false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="center-block">
            <img src="~/images/upper-frame.png" class="img-responsive center-block" />
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        Rhodes Gallery
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Poesie <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Biografia</a></li>
                        <li><a href="#">Libri</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Italiano</a></li>
                        <li><a href="#">Español</a></li>
                        <li><a href="#">Português</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
