body {
    background-color: white;
}

h3
{
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
    font-size: larger;
    font-variant: small-caps;
}

.container
{
    max-width: 1280px;
    padding: 0px;
}

.row-height {
    height: 50px;
    text-align: center;
    padding-top: 25px;
}

.padded-container {
    padding-left: 30px;
    padding-right: 30px;
}

#footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 30px;
   width: 100%;
}