
@{
    ViewData["Title"] = "Home";
}

<h2>Select what you want to modify</h2>

<ul class="list-group">
    <li class="list-group-item">Create new category</li>
    <li class="list-group-item">Update category</li>
    <li class="list-group-item">Delete category</li>
</ul>
<ul>
    <li class="list-group-item">Insert new poem</li>
    <li class="list-group-item">Modify poem</li>
    <li class="list-group-item">Delete poem</li>
</ul>